name: Publish Package
on:
    release:
        types: [published]
jobs:
    build:
        runs-on: ubuntu-latest
        environment: release
        permissions:
            contents: read
            id-token: write
        steps:
            - uses: actions/checkout@v5
            - name: Setup Bun
              uses: oven-sh/setup-bun@v1
              with:
                  bun-version: latest
            - run: bun install --frozen-lockfile
            - run: bun publish --provenance --access public
              env:
                  NPM_CONFIG_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
